html {
    box-sizing: border-box; 
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
    background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
    margin-right: 8%;
    margin-left: 8%;
    color: white;
}

.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav a:hover {
  color: #003f9a;
}

.nav a:active {
  color: #003f9a;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Berkshire Swash;
  font-size: 5rem;
  padding-bottom: 0rem;
  color: #003f9a
}


.btn {
  padding: 15px 45px;
  background-color: white;
  color:rgba(9,9,121,1);
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: 10%
}

.home-box .btn{
  margin-top: 1.5rem;
}


h3{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
}

.quiz-box .question-number{
  font-size: 1.1rem;
  color: rgba(0,212,255,1);
  font-weight: 600;
  border-bottom: 1px solid white;
  padding-bottom: 0.7rem;
  line-height: 25px;


}
.quiz-box .question-text{
  font-size: 1.5rem;
  color:white;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
}

.quiz-box .option-container .option{
  background-color: #cccccc;
  padding: 13px 15px;
  font-size: 1rem;
  line-height: 22px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.quiz-box .option-container .option.already-answered{
  pointer-events:none;
}


.quiz-box .option-container .option.correct{
  background-color: rgba(0,212,255,1);
  color: white;

}

 .quiz-box .option-container .option.wrong{
    background-color: red;
    color: white;}

.quiz-box .btn {
  margin: 15px 0;
}

.result-box{
  text-align: center;
}

.result-box h1{
  font-size: 2.2rem;
  line-height: 42px;
  color: white;
}

.result-box table{
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td{
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color:white;
  width: 50%;
  text-align: left;
  font-size: 1.1rem;
}
.result-box .btn{
  margin-right: 20px;
}


.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav a:hover {
  color: #003f9a;
}

.nav a:active {
  color: #003f9a;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Berkshire Swash;
  font-size: 5rem;
  padding-bottom: 0rem;
  color: #003f9a
}



/*h2 {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;
}

.quiz-container {
  position: relative;
  width: 70%;
  margin: 40px auto 0 auto;
  height: 300px;
}

.question{
  font-size: 50px;
  font-weight: bold;
  margin-top: 25px;
  color: white
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 60px;
  color: white;
}

label {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  width: 40%;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadio {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(255, 208, 0);
  background-color: rgb(216, 80, 1);
  transition: all 0.5s linear;
}

.customRadio:hover {
  background-color: rgb(255, 208, 0);
}

input:checked ~ .customRadio {
  border: 2px solid rgb(255, 208, 0);
  background-color: rgb(216, 80, 1);
}

/* Style checkmark */
/*label .customRadio::after {
  content: "";
  position: absolute;
  opacity: 0;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid rgb(255, 208, 0);
  background-color: rgb(255, 208, 0);
  -webkit-transition: all 1s linear;
  transition: all 0.3s linear;
}

/* Show checkmark when checked */
/*input:checked ~ .customRadio::after {
  opacity: 1;
}

/*#progress-wrap {
  position: relative;
  border: 3px solid rgb(255, 208, 0);
  width: 45%;
  height: 10px;
  border-radius: 20px;
  margin: 0 auto;
}

#progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 208, 0);
  border-radius: 20px;
  top: 0;
  bottom: 0;
  transition: 0.3s width linear;
}

button{
  font-size: 20px;
  background-color: rgb(255, 208, 0);
  color: rgb(216, 80, 1);
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  outline: none;
  margin-top: 25px;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.5);
}

button:hover{
  transform-origin: bottom;
  transform: scaleY(0.95) translateY(1.5px);
}

button:active {
  transform-origin: bottom;
  transform: scaleY(0.89) translateY(1.3px);
}

#results {
  font-size: 25px;
  color: rgb(255, 208, 0);
}

/* CSS positioning to make the slides sit as layers on top of one another 
  Uses z-indexs and opacity to fade in and out */
/*.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
*/
/*h4 {
    font-family: Poppins;
    text-align: center;
    color: #003f9a;
    background: white;
    font-size: 1.75rem;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  height: 600px;
  width: auto;
}

button {
  background-color: rgba(0,212,255,1);
  border-radius: 20px;
  color: white;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Poppins;
  font-weight: bold;
  margin-right: 50%;
  margin-left: 40%;
  margin-bottom: 10%}

.form-group {
  padding: 10%;
*/









