/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

/* ===== GLOBALS ===== */
html {
    box-sizing: border-box; 
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
    font-family: 'Poppins', sans-serif;
    margin-right: 8%;
    margin-left: 8%;
}

.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav a:hover {
  color: #003f9a;
}

.nav a:active {
  color: #003f9a;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Berkshire Swash;
  font-size: 5rem;
  padding-bottom: 0rem;
  color: #003f9a
}

h4 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 0rem;
}

/* ==== HOME PAGE ===== */
.epi_fish {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}
.epi {
    color: white;
}
.meso {
    color:white;
}
.bath {
    color:white;
}
.abys {
    color: white;
}
.hadal {
    color: white;
}
.meso_fish {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.meso_fish p {
    display: flex;
    align-items: center;
    justify-items: center;
}

.bath_fish {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.bath_fish p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abys_fish{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.abys_fish p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hadal_fish{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.hadal_fish p {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 60%;
  }

p {
    font-weight:300;
}


  .button {
    background-color: rgba(0,212,255,1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1em 0.5em;
  }

  /* ===== QUIZ PAGE ===== */
  .btn {
    padding: 15px 45px;
    background-color: white;
    color:rgba(9,9,121,1);
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 10%
  }
  
  .home-box .btn{
    margin-top: 1.5rem;
  }
  
  h3{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
  }
  
  .quiz-box .question-number{
    font-size: 1.1rem;
    color: rgba(0,212,255,1);
    font-weight: 600;
    border-bottom: 1px solid white;
    padding-bottom: 0.7rem;
    line-height: 25px;
  
  
  }
  .quiz-box .question-text{
    font-size: 1.5rem;
    color:white;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
  }
  
  .quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 1rem;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .quiz-box .option-container .option.already-answered{
    pointer-events:none;
  }
  
  
  .quiz-box .option-container .option.correct{
    background-color: rgba(0,212,255,1);
    color: white;
  
  }
  
   .quiz-box .option-container .option.wrong{
      background-color: red;
      color: white;}
  
  .quiz-box .btn {
    margin: 15px 0;
  }
  
  .result-box{
    text-align: center;
  }
  
  .result-box h1{
    font-size: 2.2rem;
    line-height: 42px;
    color: white;
  }
  
  .result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
  }
  
  .result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color:white;
    width: 50%;
    text-align: left;
    font-size: 1.1rem;
  }
  .result-box .btn{
    margin-right: 20px;
  }

  /* ===== HOW TO HELP ===== */

.steps {
    display: grid;
    grid-template-columns: 55%;
    grid-column-gap: 20px;
    margin:auto;
    justify-content: center;
  }

  .howtohelp h2 { 
    font-family: Poppins;
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  
  .howtohelp h4 {
    font-family: Poppins;
    text-align: center;
    color: #003f9a;
    background: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .howtohelp p {
    font-family: Poppins;
    text-align: center;
    color: white;
    font-size: 1rem ;
  }